body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
#container{
    width: 70%;
    padding: 1 m;
    text-align: left;
    border: 1px solid #000;
}
#containe h1{
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
